* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  font-size: 100%;
  font-family: "IBM Plex Sans KR", sans-serif;
  font-size: 14px; /* background-color: rgb(86, 86, 86); */
  color: #fff;
  background-color: #000;
}
ul {
  list-style-type: none;
}
.clear {
  clear: both;
}
.inner {
  max-width: 1280px;
  margin: 0 auto;

  padding: 10px;
}
.wrap {
  max-width: 1280px;
  margin: 0 auto;
}
.wrap_content {
  max-width: 1005px;
  float: right;
  /* margin: 0 auto; */
  /* border: solid 1px red; */
}
.blind {
  display: none;
}
::-webkit-scrollbar {
  display: none;
}
a:link,
a:hover,
a:visited,
a:active {
  text-decoration: none;
  color: #fff;
}

/* ν—¤λ” */
header {
  position: relative;
  width: 100%;
  height: 100px;
  padding: 20px;
  z-index: 3;
  background-color: black;
  margin: 0 auto;
}
header button {
  display: none;
}
header #top_menu {
  float: right;
}
header #top_menu li {
  display: inline;
}
header #top_menu li a {
  color: #ccc;
}
#main_menu {
  text-align: center;
  position: relative;
  top: -48px;
  margin: 10px;
}
#main_menu > li {
  display: inline-block;
  position: relative;
  text-align: center;
  padding: 0 32px;
}
#sub_menu {
  width: 120px;
  text-align: center;
  position: absolute;
  margin: 0 auto;
  top: 28px;
  left: 24px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.17);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  opacity: 0;
  visibility: hidden;
  transition: all 0.15s ease-in;
}
#sub_menu > li {
  padding: 14px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
#sub_menu > li > a {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
#main_menu > li:hover #sub_menu {
  opacity: 1;
  visibility: visible;
}
#sub_menu > li > a:hover {
  text-decoration: underline;
}

/* ν‘Έν„° */
.footer_line {
  width: 1280px;
  height: 1px;
  margin: 0 auto;
  border: 1px solid transparent;
  border-image: linear-gradient(to right, blue 0%, red 100%);
  border-image-slice: 1;
  opacity: 0.5;
  margin-top: 30px;
}
.footer_line2 {
  width: 1280px;
  height: 1px;
  margin: 0 auto;
  border: 1px solid transparent;
  border-image: linear-gradient(
    to right,
    rgb(106, 213, 150) 0%,
    rgb(255, 123, 0) 100%
  );
  border-image-slice: 1;
  opacity: 0.5;
  margin-top: 30px;
}
.footer_line3 {
  width: 1280px;
  height: 1px;
  margin: 0 auto;
  border: 1px solid transparent;
  border-image: linear-gradient(
    to right,
    rgb(206, 5, 242) 0%,
    rgb(119, 0, 255) 100%
  );
  border-image-slice: 1;
  opacity: 0.5;
  margin-top: 30px;
}
footer {
  padding-top: 30px;
  text-align: center;
  background-color: #000;
}
footer li {
  display: inline-block;
  padding: 4px 8px;
}
footer li:before {
  content: "";
  width: 1px;
  height: 12px;
}
footer .address li {
  padding-top: 10px;
}
footer #contact {
  padding: 20px 0 20px 0;
}
footer h3 {
  padding: 30px 0 20px 0;
}
